.project-card {
    border: 1px solid #52937e;
    box-shadow: 0px 0px 5px #52937e;
    margin: 20px;
    padding: 10px;
    background-color: #79A194;
}

.project-card img {
    width: 15em;
    height: 15em;
    object-fit: cover;
    display: flex;
    justify-content: center;
}